version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 4000:8000
    environment:
      - OEP_API_CONFIG_INI=/configuration/oep_api.ini
    volumes:
      - ./configuration:/configuration/