swagger: '2.0'
info:
  description: Rest API Documentation for Self Managed OSDU
  version: '0.11.0'
  title: self-managed-osdu
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
    
host: self-managed-osdu.westeurope.cloudapp.azure.com
schemes:
 - https

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

tags:
  - name: Partition
    description: Work with Partitions
  - name: Entitlement
    description: Work with Members and Groups
  - name: Legal
    description: Work with Legal Tags
  - name: Storage
    description: Work with Storage Records
  - name: Search
    description: Search for records
  - name: Schema
    description: Responsible for schema management in the Data Ecosystem and offers an implementation of our schema standard.
  - name: File
    description: This service allows users to manage files on the Data Platform. File Management includes uploads, downloads and creation of metadata record for the file.
  - name: Workflow
    description: Workflow Service API is a wrapper API on existing orchestrator services (ariflow) defined in way which suits the domain workflow needs.Operational tasks like starting,stopping, pausing etc will be part of this API. Also creation and maintenance will be responsilbilities of this API.
  - name: Register
    description: "Get a DDMS registration with the given id. Required roles: 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins'"
  - name: Notification
    description: The Notification service, with Register service, allow interested consumers to subscribe to data and metadata changes using a publisher/subscriber pattern
paths:
  #########################
  # Partition Service
  #########################
  
  '/api/partition/v1/partitions':
    get:
      tags:
        - Partition
      summary: List Partitions
      operationId: listUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []

  '/api/partition/v1/partitions/{partitionId}':
    get:
      tags:
        - Partition
      summary: Get Single Partition
      description: >
        By passing in a partition Id, you can retrieve the partition
        information.
      operationId: getUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: partitionId
          in: path
          description: partitionId
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              "$ref": "#/definitions/PartitionProperty"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []

    post:
      tags:
        - Partition
      summary: Create Partition
      description: >
        By passing in a partition Id and a partition info object you can create
        a partition.
      operationId: createUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: partitionId
          in: path
          description: partitionId
          required: true
          type: string
          x-example: common
        - in: body
          name: partitionInfo
          description: partitionInfo
          required: true
          schema:
            $ref: '#/definitions/PartitionDto'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []
    patch:
      tags:
        - Partition
      summary: Update Partition
      description: >
        By passing in a partition Id and a partition info object you can update
        a partition.
      operationId: updateUsingPATCH
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: partitionId
        in: path
        description: partitionId
        required: true
        type: string
        x-example: common
      - in: body
        name: partitionInfo
        description: partitionInfo
        required: true
        schema:
          $ref: '#/definitions/PartitionDto'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []
    delete:
      tags:
        - Partition
      summary: Delete Partition
      description: |
        By passing in a single partition Id, you can delete a partition.
      operationId: deleteUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: partitionId
          in: path
          description: partitionId
          required: true
          type: string
          x-example: common
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []


  #########################
  # Entitlement Service
  #########################

  '/api/entitlements/v2/groups':
    get:
      tags:
        - Entitlement
      summary: List Assigned Groups
      operationId: listGroupsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: tenant
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EntitlementGroupResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []
    post:
      tags:
        - Entitlement
      summary: Create a Group
      operationId: createGroupUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Id
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []
 
  '/api/entitlements/v2/groups/{group_email}/members':
    get:
      tags:
        - Entitlement
      summary: List Group Members
      operationId: listGroupMembersUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Data Partition Id
          required: true
          type: string
          x-example: opendes
        - name: group_email
          in: path
          description: group_email
          required: true
          type: string
          x-example: "users@opendes.contoso.com"
        - name: role
          in: query
          description: role
          required: false
          type: string
          enum:
            - MEMBER
            - OWNER
        - name: includeType
          in: query
          description: includeType
          required: false
          type: boolean
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []
    post:
      tags:
        - Entitlement
      summary: Add Member to Group
      operationId: addMemberUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Name
          required: true
          type: string
          x-example: opendes
        - name: group_email
          in: path
          description: group_email
          required: true
          type: string
          x-example: "users@opendes.contoso.com"
        - in: body
          name: partitionInfo
          description: partitionInfo
          required: true
          schema:
            $ref: '#/definitions/EntitlementMemberDto'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EntitlementMemberDto'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
      security:
        - Bearer: []
 
  '/api/entitlements/v2/groups/{group_email}/members/{member_email}':
    delete:
      tags:
        - Entitlement
      summary: Remove Member from Group
      operationId: deleteMemberUsingDELETE_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Data Partition Id
          required: true
          type: string
          x-example: opendes
        - name: group_email
          in: path
          description: group_email
          required: true
          type: string
          x-example: "users@opendes.contoso.com"
        - name: member_email
          in: path
          description: member_email
          required: true
          type: string
          x-example: "email@domain.com"
      responses:
        '200':
          description: OK
          schema:
            type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []

  '/api/entitlements/v2/groups/{group_email}':
    delete:
      tags:
        - Entitlement
      summary: Delete a Group
      operationId: deleteGroupUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: tenant
          required: true
          type: string
          x-example: common
        - name: group_email
          in: path
          description: group_email
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
    patch:
      tags:
        - Entitlement
      summary: Updates Items in Group
      operationId: updateGroupUsingPATCH
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: tenant
          required: true
          type: string
          x-example: common
        - name: group_email
          in: path
          description: group_email
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []

  '/api/entitlements/v2/members/{member_email}':
    delete:
      tags:
        - Entitlement
      summary: Delete a User
      operationId: deleteMemberUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Data Partition Id
          required: true
          type: string
          x-example: opendes
        - name: member_email
          in: path
          description: member_email
          required: true
          type: string
          x-example: email@domain.com
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []

  '/api/entitlements/v2/members/{member_email}/groups':
    get:
      tags:
        - Entitlement
      summary: List Assigned Groups for User
      operationId: listGroupsOnBehalfOfUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: tenant
          required: true
          type: string
          x-example: opendes
        - name: member_email
          in: path
          description: member_email
          required: true
          type: string
        - name: type
          in: query
          description: type
          required: false
          type: string
        - name: appid
          in: query
          description: appid
          required: false
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - Bearer: []


  #########################
  # Legal Service
  #########################

  '/api/legal/v1/legaltags:properties':
    get:
      tags:
        - Legal
      summary: Gets LegalTag property values.
      description: This allows for the retrieval of allowed values for LegalTag properties.
      operationId: getLegalTagProperties
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Id
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: Retrieved proeprties successfully.
          schema:
            $ref: '#/definitions/LegalTagPropertyValues'
        '401':
          description: You do not have permissions to access this API.
      security:
        - Bearer: []

  '/api/legal/v1/legaltags:validate':
    post:
      tags:
        - Legal
      summary: Retrieves the invalid LegalTag names with reasons for the given names.
      description: This allows for the retrieval of the reason why your LegalTag is not valid. A maximum of 25 can be retrieved at once.
      operationId: validateLegalTags
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LegalTagRequest'
        - name: OSDU-Account-Id
          in: header
          description: Users account e.g. OSDU
          required: true
          type: string
        - name: OSDU-On-Behalf-Of
          in: header
          description: User's email or auth token
          required: false
          type: string
      responses:
        '200':
          description: Retrieved LegalTag names with reason successfully.
          schema:
            $ref: '#/definitions/LegalTagInvalidResponseList'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
        '404':
          description: LegalTag names were not found.
      security:
        - Bearer: []

  '/api/legal/v1/legaltags:batchRetrieve':
    post:
      tags:
        - Legal
      summary: Retrieves the LegalTags for the given names.
      description: This allows for the retrieval of your LegalTags using the 'name' associated with it. A maximum of 25 can be retrieved at once.
      operationId: getLegalTags
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LegalTagRequest'
        - name: OSDU-Account-Id
          in: header
          description: Users account e.g. OSDU
          required: true
          type: string
        - name: OSDU-On-Behalf-Of
          in: header
          description: User's email or auth token
          required: false
          type: string
      responses:
        '200':
          description: Retrieved LegalTags successfully.
          schema:
            $ref: '#/definitions/LegalTagDtos'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
        '404':
          description: One or more requested LegalTags were not found.
      security:
        - Bearer: []

  '/api/legal/v1/legaltags':
    get:
      tags:
        - Legal
      summary: Gets all LegalTags.
      description: This allows for the retrieval of all LegalTags.
      operationId: listLegalTags
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: valid
          in: query
          description: 'If true returns only valid LegalTags, if false returns only invalid LegalTags.  Default value is true.'
          required: false
          type: boolean
          default: true
        - name: OSDU-Account-Id
          in: header
          description: Users account e.g. OSDU
          required: true
          type: string
        - name: OSDU-On-Behalf-Of
          in: header
          description: User's email or auth token
          required: false
          type: string
      responses:
        '200':
          description: Retrieved LegalTags successfully.
          schema:
            $ref: '#/definitions/LegalTagDtos'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
      security:
        - Bearer: []
    post:
      tags:
        - Legal
      summary: Creates the LegalTag for the given 'name'.
      description: This allows for the creation of your LegalTag. There can only be 1 LegalTag per 'name'. A LegalTag must be created before you can start ingesting data for that name.
      operationId: createLegalTag
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LegalTagDto'
        - name: OSDU-Account-Id
          in: header
          description: Users account e.g. OSDU
          required: true
          type: string
        - name: OSDU-On-Behalf-Of
          in: header
          description: User's email or auth token
          required: false
          type: string
      responses:
        '201':
          description: Created LegalTag successfully.
          schema:
            $ref: '#/definitions/LegalTagDto'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
        '409':
          description: A LegalTag with the given name already exists.
      security:
        - Bearer: []
    put:
      tags:
        - Legal
      summary: Updates the LegalTag for the given 'name'.
      description: This allows to update certain properties of your LegalTag using the 'name' associated with it.
      operationId: updateLegalTag
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LegalTagUpdateDto'
        - name: OSDU-Account-Id
          in: header
          description: Users account e.g. OSDU
          required: true
          type: string
        - name: OSDU-On-Behalf-Of
          in: header
          description: User's email or auth token
          required: false
          type: string
      responses:
        '200':
          description: Updated LegalTag successfully.
          schema:
            $ref: '#/definitions/LegalTagDto'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
        '404':
          description: Requested LegalTag to update was not found.
      security:
        - Bearer: []

  '/api/legal/v1/legaltags/{name}':
    get:
      tags:
        - Legal
      summary: Gets a LegalTag for the given 'name'.
      description: This allows for the retrieval of your LegalTag using the 'name' associated with it.
      operationId: getLegalTag
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Id
          required: true
          type: string
          x-example: opendes
        - name: name
          in: path
          required: true
          type: string
          x-example: opendes-public-usa-swagger
      responses:
        '200':
          description: Retrieved LegalTag successfully.
          schema:
            $ref: '#/definitions/LegalTagDto'
        '400':
          description: Invalid parameters were given on request.
        '401':
          description: You do not have permissions to access this API.
        '404':
          description: Requested LegalTag was not found.
      security:
        - Bearer: []
    delete:
      tags:
        - Legal
      summary: Delete Legal Tag
      description: |
        This allows for the deletion of your LegalTag using the 'name' associated with it.
      operationId: deleteLegalTag
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Id
          required: true
          type: string
          x-example: opendes
        - name: name
          in: path
          required: true
          type: string
          x-example: opendes-public-usa-swagger
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []


  #########################
  # Storage Service
  #########################

  '/api/storage/v2/query/kinds':
    get:
      tags:
      - Storage
      summary: "Get all kinds"
      description: "The API returns a list of all kinds in the specific {Account-Id}.\
        \ Allowed roles: service.storage.admin."
      operationId: "Get all kinds"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "Cursor"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Page Size"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active account\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "All kinds retrieved successfully."
          schema:
            $ref: "#/definitions/StorageQueryResponse"
        500:
          description: "Unknown Error."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  

  '/api/storage/v2/query/records':
    get:
      tags:
      - Storage
      summary: "Get all record from kind"
      description: "The API returns a list of all record ids which belong to the specified\
        \ kind. Allowed roles: service.storage.admin."
      operationId: "Get all record from kind"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "Cursor"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Page Size"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "kind"
        in: "query"
        description: "Filter Kind"
        required: false
        type: "string"
        default: "tenant1:public:well:1.0.2"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Record Ids retrieved successfully."
          schema:
            $ref: "#/definitions/StorageQueryResponse"
        404:
          description: "Kind or cursor not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: [] 
    post:
      tags:
      - Storage
      summary: "Fetch records"
      description: "The API fetches multiple records at once. Allowed roles: service.storage.viewer,\
        \ service.storage.creator and service.storage.admin."
      operationId: "Fetch records"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/StorageMultiRecordIds"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Fetch multiple records successfully."
          schema:
            $ref: "#/definitions/StorageMultiRecordIds"
        500:
          description: "Unknown storage error."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: [] 

  '/api/records/{id}:delete':
    post:
      tags:
      - Storage
      summary: "Delete record"
      description: "The API performs a logical deletion of the given record. This\
        \ operation can be reverted later. Allowed roles: service.storage.creator\
        \ and service.storage.admin."
      operationId: "Delete record"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record id"
        required: true
        type: "string"
        default: "tenant1:well:123456789"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        204:
          description: "Record deleted successfully."
        404:
          description: "Record not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []

  "/api/storage/v2/records/delete":
    post:
      tags:
        - Storage
      summary: Soft delete of multiple records
      description: "The API performs a soft deletion of the given list of records. Required roles: 'users.datalake.editors' or
        'users.datalake.admins'."
      operationId: Delete records
      parameters:
        - name: data-partition-id
          in: header
          description: Partition Id
          required: true
          type: string
          x-example: opendes
        - in: body
          name: partitionInfo
          description: partitionInfo
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        "204":
          description: All records deleted successfully.
        "207":
          description: Some of the records weren't deleted successfully.
          schema:
            type: array
            items:
              $ref: "#/definitions/StorageDeleteRecordError"

        "400":
          description: "Invalid id format"
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
        - Bearer: []

  '/api/storage/v2/records/{id}':
    get:
      tags:
      - Storage
      summary: "Get record"
      description: "This API returns the latest version of the given record. Allowed\
        \ roles: service.storage.viewer, service.storage.creator and service.storage.admin."
      operationId: "Get record"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record id"
        required: true
        type: "string"
        default: "tenant1:well:123456789"
      - name: "attribute"
        in: "query"
        description: "Filter attributes to restrict the returned fields of the record.\
          \ Usage: data.{record-data-field-name}."
        required: false
        type: "array"
        items:
          type: "string"
          default: "data.wellName"
        collectionFormat: "multi"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Record retrieved successfully."
          schema:
            $ref: "#/definitions/StorageRecordData"
        404:
          description: "Record not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  
    delete:
      tags:
      - Storage
      summary: "Purge record"
      description: "The API performs the physical deletion of the given record and\
        \ all of its versions. This operation cannot be undone. Allowed roles: service.storage.admin."
      operationId: "Purge record"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record id"
        required: true
        type: "string"
        default: "tenant1:well:123456789"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        204:
          description: "Record purged successfully."
        404:
          description: "Record not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  
      
  '/api/storage/v2/records/{id}/{version}':
    get:
      tags:
      - Storage
      summary: "Get record version"
      description: "The API retrieves the specific version of the given record. Allowed\
        \ roles: service.storage.viewer, service.storage.creator and service.storage.admin."
      operationId: "Get record version"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record id"
        required: true
        type: "string"
      - name: "version"
        in: "path"
        description: "Record version"
        required: true
        type: "integer"
        default: 123456789
        format: "int64"
      - name: "attribute"
        in: "query"
        description: "Filter attributes to restrict the returned fields of the record.\
          \ Usage: data.{record-data-field-name}."
        required: false
        type: "array"
        items:
          type: "string"
          default: "data.wellName"
        collectionFormat: "multi"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Record retrieved successfully."
          schema:
            $ref: "#/definitions/StorageRecordData"
        404:
          description: "Record id or version not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  
      
  '/api/storage/v2/records/versions/{id}':
    get:
      tags:
      - Storage
      summary: "Get all record versions"
      description: "The API returns a list containing all versions for the given record\
        \ id. Allowed roles: service.storage.viewer, service.storage.creator and service.storage.admin."
      operationId: "Get all record versions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record id"
        required: true
        type: "string"
        default: "tenant1:well:123456789"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Record versions retrieved successfully."
          schema:
            $ref: "#/definitions/StorageRecordVersions"
        404:
          description: "Record id or version not found."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  
  
  '/api/storage/v2/records':
    put:
      tags:
      - Storage
      summary: "Create or update records"
      description: "The API represents the main injection mechanism into the Data\
        \ Lake. It allows records creation and/or update. When no record id is provided\
        \ or when the provided id is not already present in the Data Lake then a new\
        \ record is created. If the id is related to an existing record in the Data\
        \ Lake then an update operation takes place and a new version of the record\
        \ is created. Allowed roles: service.storage.creator and service.storage.admin."
      operationId: "Create or update records"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "skipdupes"
        in: "query"
        description: "Skip duplicates when updating records with the same value."
        required: false
        type: "boolean"
        default: true
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/StorageRecord"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        201:
          description: "Records created and/or updated successfully."
          schema:
            $ref: "#/definitions/StorageRecord"
        400:
          description: "Invalid record format."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
        404:
          description: "Invalid acl group."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
        403:
          description: "User not authorized to perform the action."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []
    patch:
      tags:
      - Storage
      summary: "Modify record metadata attributes using patch operations"
      description: "The API represents the patch update mechanism for records. It allows\
        \ updating multiple records in one request. The currently supported operations are replace,\
        \ add, and remove for Legal Tags, ACLs, and Tags. \
        \ Required roles: 'users.datalake.editors' or 'users.datalake.admins'."
      operationId: "Patch update records"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/StorageRecordBulkUpdateParam"
      - name: "OSDU-Account-Id"
        in: "header"
        description: "Account ID is the active OSDU account (OSDU account or customer's\
          \ account) which the users choose to use with the Search API."
        required: true
        type: "string"
        default: "tenant1"
      responses:
        200:
          description: "Records updated successfully."
          schema:
            $ref: "#/definitions/StorageBulkUpdateRecordsResponse"
        206:
          description: "Records updated successful partially."
          schema:
            $ref: "#/definitions/StorageBulkUpdateRecordsResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/StorageErrorResponse"
        403:
          description: "User not authorized to perform the action."
          schema:
            $ref: "#/definitions/StorageErrorResponse"
      security:
      - Bearer: []  

  #########################
  # Search Service
  #########################
  
  "/api/search/v2/index/{kind}":
    delete:
      tags:
      - Search
      summary: Deletes all documents from index for given 'kind'.
      description: The API can be used  to purge all indexed documents for a kind. Required access level to use this API is service.search.admin
      operationId: deleteIndex
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: OSDU-Account-Id
        in: header
        description: Account ID is the active OSDU account (OSDU account or customer's account) which the users choose to use with the Search API.
        required: true
        type: string
      - name: OSDU-On-Behalf-Of
        in: header
        description: On behalf email or token is the token/email of the original user making the call. For now, only email is supported but eventually, primary usage will be token.
        required: false
        type: string
      - name: kind
        in: path
        description: Kind of the record.
        required: true
        type: string
      responses:
        '204':
          description: No Content Returned.
        '400':
          description: Invalid parameters were given on request.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '404':
          description: Requested kind not found.
          schema:
            "$ref": "#/definitions/SearchAppError"
      security:
        - Bearer: []
  
  "/api/search/v2/index/schema/{kind}":
    get:
      tags:
      - Search
      summary: Returns the index schema for given 'kind'.
      description: The API returns the schema for a given kind which is used find what attributes are indexed and their respective data types (at index time). Required access levels to use this API are service.search.user, service.search.admin
      operationId: getKindSchema
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: OSDU-Account-Id
        in: header
        description: Account ID is the active OSDU account (OSDU account or customer's account) which the users choose to use with the Search API.
        required: true
        type: string
      - name: OSDU-On-Behalf-Of
        in: header
        description: On behalf email or token is the token/email of the original user making the call. For now, only email is supported but eventually, primary usage will be token.
        required: false
        type: string
      - name: kind
        in: path
        description: Kind of the record.
        required: true
        type: string
      responses:
        '200':
          description: Success.
          schema:
            type: string
        '400':
          description: Invalid parameters were given on request.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '404':
          description: Index schema for requested kind not found.
          schema:
            "$ref": "#/definitions/SearchAppError"
      security:
        - Bearer: []
  
  "/api/search/v2/query":
    post:
      tags:
      - Search
      summary: Queries the index for the specified kind using the input query string.
      description: The API supports full text search on string fields, range queries on date, numeric or string fields, along with geo-spatial search. Required access levels to use this API are service.search.user, service.search.admin. In addition, users must be a member of data groups to access the data.
      operationId: queryRecords
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: OSDU-Account-Id
        in: header
        description: Account ID is the active OSDU account (OSDU account or customer's account) which the users choose to use with the Search API.
        required: true
        type: string
      - name: OSDU-On-Behalf-Of
        in: header
        description: On behalf email or token is the token/email of the original user making the call. For now, only email is supported but eventually, primary usage will be token.
        required: false
        type: string
      - in: body
        name: body
        required: true
        description: Specifies the API parameters. The only required parameter is the kind which needs to be formatted correctly.
        schema:
          "$ref": "#/definitions/SearchQueryRequest"
      responses:
        '200':
          description: Success.
          schema:
            "$ref": "#/definitions/SearchQueryResponse"
        '400':
          description: Invalid parameters were given on request / Unrecognized fields found on request/ Bad JSON format.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '403':
          description: User not authorized to perform the action.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '404':
          description: Resource you are trying to find does not exists
          schema:
           "$ref": "#/definitions/SearchAppError"
      security:
        - Bearer: []
  
  "/api/search/v2/query_with_cursor":
    post:
      tags:
      - Search
      summary: Query the index using cursor and optionally return only requested fields.
      description: The API supports full text search on string fields, range queries on date, numeric or string fields, along with geo-spatial search. Required access levels to use this API are service.search.user, service.search.admin. In addition, users must be a member of data groups to access the data. It can be used to retrieve large numbers of results (or even all results) from a single search request, in much the same way as you would use a cursor on a traditional database.
      operationId: queryWithCursor
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: OSDU-Account-Id
        in: header
        description: Account ID is the active OSDU account (OSDU account or customer's account) which the users choose to use with the Search API.
        required: true
        type: string
      - name: OSDU-On-Behalf-Of
        in: header
        description: On behalf email or token is the token/email of the original user making the call. For now, only email is supported but eventually, primary usage will be token.
        required: false
        type: string
      - in: body
        name: body
        required: true
        description: Specifies the API parameters. The only required parameter is the kind which needs to be formatted correctly.
        schema:
          "$ref": "#/definitions/SearchCursorQueryRequest"
      responses:
        '200':
          description: Success.
          schema:
            "$ref": "#/definitions/SearchCursorQueryResponse"
        '400':
          description: Invalid parameters were given on request / Unrecognized fields found on request/ Bad JSON format.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '403':
          description: User not authorized to perform the action.
          schema:
            "$ref": "#/definitions/SearchAppError"
        '404':
          description: Resource you are trying to find does not exists
          schema:
            "$ref": "#/definitions/SearchAppError"
      security:
        - Bearer: []

  #########################
  # Schema Service
  #########################
  
  '/api/schema-service/v1/schema':
    post:
      tags:
        - Schema
      summary: Adds a schema to the schema repository.
      description: Adds a schema to the schema repository. The schemaIdentity must be
        unique. The `authority`, `source` and `entityType` will be registered
        if not present. If lower minor versions are registered the service validates
        the new schema against breaking changes; if breaking changes are
        discovered the request fails. **Note:** The schema must not reference
        other schemas with status `DEVELOPMENT`. Scope to a schema will be set by system based on partition id (`SHARED` for common tenant and `INTERNAL` for private tenant). Required
        roles 'users.datalake.editors' or 'users.datalake.admins' groups to create schema.
      operationId: Create Schema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should be either the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/SchemaRequest"
      responses:
        '201':
          description: Schema created
          schema:
            $ref: "#/definitions/SchemaInfo"
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '401':
          description: Unknown or invalid user.
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '403':
          description: User not authorised to access the API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
      security:
        - Bearer: []
    put:
      tags:
        - Schema
      summary: Creates/Updates a schema in development status
      description: Creates a new schema or updates an already existing schema with status `DEVELOPMENT` in the schema repository. If a user tries to create/update a schema with status other then `DEVELOPMENT`, API will throw an exception. Any
        schema instance with the same schemaIdentity is replaced (in contrast to
        the immutability of `PUBLISHED` or `OBSOLETE` schemas). A schema state can also be changed from `DEVELOPMENT` to `PUBLISHED` or `OBSOLETE` while updating schema content or by providing the same schema content. **Note:** The
        schema may refer to other schema definitions in `DEVELOPMENT` state. If
        those schemas are updated themselves, it is the developer's
        responsibility to PUT the dependent schemas again to update the schemas. Scope for a schema can't be updated, its a system defined value. Required
        roles  'users.datalake.editors' or 'users.datalake.admins' groups to update schema.
      operationId: Update Schema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should be either the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          description: SchemaRequest
          required: true
          schema:
            $ref: "#/definitions/SchemaRequest"
      responses:
        '201':
          description: Schema created
          schema:
            $ref: "#/definitions/SchemaInfo"
        '200':
          description: Schema updated
          schema:
            $ref: "#/definitions/SchemaInfo"
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '401':
          description: Unknown or invalid user.
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '403':
          description: User not authorised to access the API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
      security:
        - Bearer: []
    get:
      tags:
        - Schema
      summary: Searches schemaInfo repository
      description: Searches for information of available schema (SchemInfo) in schema repository. Supports options to filter out the search contents. Required
        roles 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins' groups to get the schema.
      operationId: searchSchemaInfoRepository
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should be either the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - in: query
          name: authority
          description: pass an optional string to search for a specific authority
          required: false
          type: string
          default: '*'
          x-example: 'osdu'
        - in: query
          name: source
          description: pass an optional string to search for a specific source
          required: false
          type: string
          default: '*'
          x-example: 'wks'
        - in: query
          name: entityType
          description: pass an optional string to search for a specific entityType
          required: false
          type: string
          default: '*'
          x-example: 'wellbore'
        - in: query
          name: schemaVersionMajor
          description: pass an optional string to search for a specific schemaVersionMajor
          required: false
          type: string
          default: '*'
          x-example: 1
        - in: query
          name: schemaVersionMinor
          description: pass an optional string to search for a specific schemaVersionMinor
          required: false
          type: string
          default: '*'
          x-example: 1
        - in: query
          name: status
          description: The schema status specification
          type: string
          default: PUBLISHED
          enum:
            - PUBLISHED
            - DEVELOPMENT
            - OBSOLETE
          x-example: PUBLISHED
        - in: query
          name: scope
          description: The scope or schema visibility specification
          type: string
          default: INTERNAL
          enum:
            - "SHARED"
            - "INTERNAL"
          x-example: INTERNAL
        - in: query
          name: latestVersion
          description: if True, only return the latest version
          required: false
          type: boolean
          default: False
          x-example: True
        - in: query
          name: limit
          description: maximum number of schema records to return
          type: integer
          minimum: 0
          maximum: 100
          x-example: 10
        - in: query
          name: offset
          description: number of records to skip for pagination
          type: integer
          minimum: 0
          x-example: 0
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SchemaInfoResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '401':
          description: Unknown or invalid user.
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '403':
          description: User not authorised to access the API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
      security:
        - Bearer: []
  
  '/api/schema-service/v1/schema/{id}':
    get:
      tags:
        - Schema
      summary: Gets schema from the schema repository. 
      description: Retrieve a schema using its system defined id. Required roles 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins' groups to get the schema.
      operationId: Get Schema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should be either the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: osdu
        - name: id
          in: path
          description: the system id of the schema
          required: true
          type: string
          x-example: osdu:wks:wellbore:1.0.0
      responses:
        '200': 
          description: Search results matching criteria
          schema:
            type: object
            example: {$schema: 'http://json-schema.org/draft-07/schema#',
                     description: The entity shapefile.,
                     title: ShapeFile,
                     type: object,
                     definitions: {},
                     properties: {}}
                       
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '401':
          description: Unknown or invalid user.
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '403':
          description: User not authorised to access the API
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
        '404':
          description: Requested Schema not found in repository
          schema:
            $ref: '#/definitions/SchemaErrorResponseFormat'
      security:
        - Bearer: []

  #########################
  # File Service
  #########################
  
  '/api/file/v2/getLocation':
    post:
      tags:
        - File Service
      summary: 'Get a location in Landing Zone to upload a file.'
      operationId: 'Get a location in Landing Zone to upload a file.'
      description: |
        Create a new location in the landing zone to upload a file.
        **Required roles**: 'users.datalake.editors' or 'users.datalake.admins' or 'users.datalake.ops'.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should either be the
            partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
              $ref: '#/definitions/FileLocationRequest'
      responses:
        '200':
          description: Created location
          schema:
            $ref: '#/definitions/FileLandingZoneLocationResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/FileApplicationError'
        '404':
          description: Record Not Found
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
      - Bearer: []
  '/api/file/v2/files/UploadURL':
    get:
      tags:
        - File Service
      summary: 'Get a location in Landing Zone to upload a file.'
      description: |-
        Gets a temporary signed URL to upload a file.The generated URL is time bound and expires after 24 hours.
        User will receive a FileSource in the response.This is the relative path where the uploaded file will persist.
        Once the file is uploaded, FileSource can then be used to post metadata of the file. The uploaded file gets automatically deleted, if the metadata is not posted within 24 hours of uploading the file.
        **Required roles**: 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins' or 'users.datalake.ops'.
      operationId: 'Get the location to upload a file'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: data-partition-id
        in: header
        description: Specifies the data partition to use. This should either be the
          partition name or crm account ID associated with the partition.
        required: true
        type: string
        x-example: opendes
      responses:
        '200':
          description: |
            Created location
          schema:
            $ref: '#/definitions/FileSourceLocationResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
  '/api/file/v2/files/metadata':
    post:
      tags:
        - File Service
      summary: 'Creates metadata for a file'
      description: |-
        This API creates a metadata record for a file that is already uploaded. The Metadata is linked to the file via `FileSource` provided in the request body.
        If `FileSource` attribute is missing in the request body or there is no file present, then the request fails with an error.
        When metadata is successfully updated in the system, it returns the `Id` of the file metadata record.
        **Required roles**: 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins' or 'users.datalake.ops'.
      operationId: 'Publish file metadata for a file.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: data-partition-id
        in: header
        description: Specifies the data partition to use. This should either be the
          partition name or crm account ID associated with the partition.
        required: true
        type: string
        x-example: opendes
      - name: body
        in: body
        description: File metadata content
        schema:
          $ref: '#/definitions/FileRecord'
      responses:
        '201':
          description: Metadata created
          schema:
            $ref: '#/definitions/FileMetadataResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value
            passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/FileApplicationError'
        '404':
          description: Record Not Found
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
      - Bearer: []
  '/api/file/v2/files/{Id}/metadata':
    get:
      tags:
        - File Service
      description: >-
        Gets the latest version of File metadata record identified by the given id.
        **Required roles**: 'users.datalake.viewers' or 'users.datalake.editors'
        or 'users.datalake.admins' or 'users.datalake.ops'.
      operationId: 'Gets metadata record for the given id'
      summary: 'Gets metadata record for the given id'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: >-
            Specifies the data partition to use. This should either be the
            partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: Id
          description: File metadata record Id.
          in: path
          required: true
          type: string
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/FileRecordVersion'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/FileApplicationError'
        '404':
          description: Record Not Found
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
    delete:
      tags:
        - File Service
      description: >-
        Deletes the File metadata record identified by the given id and file associated with that metadata record.
        **Required roles**: 'users.datalake.editors'  or 'users.datalake.admins'.
      operationId: Deletes metadata record & File for the given id
      summary: Deletes metadata record & file assocaited with that record for the given id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: >-
            Specifies the data partition to use. This should either be the
            partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: Id
          description: File metadata record Id.
          in: path
          required: true
          type: string
      responses:
        '204':
          description: Record deleted successfully.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/FileApplicationError'
        '404':
          description: Record Not Found
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
  '/api/file/v2/files/{Id}/DownloadURL':
    get:
      tags:
        - File Service
      summary: Gets a URL to download the file
      description: |-
        Gets a URL for downloading the file associated with the unique `id`.
        **Required roles**: 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins' or 'users.datalake.ops'.
      operationId: 'Gets URL to download the file associated with the given id.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: data-partition-id
        in: header
        description: Specifies the data partition to use. This should either be the
          partition name or crm account ID associated with the partition.
        required: true
        type: string
        x-example: opendes
      - name: Id
        in: path
        description: File Metadata record Id.
        required: true
        type: string
      - name: expiryTime
        description: The Time for which Signed URL to be valid. Accepted Regex patterns are "^[0-9]+M$", "^[0-9]+H$", "^[0-9]+D$" denoting Integer values in Minutes, Hours, Days respectively. In absence of this parameter the URL would be valid for 7 Days.
        required: false
        in: query
        type: string
        x-example: '5M'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/FileDownloadResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value
            passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/FileApplicationError'
        '404':
          description: Record Not Found
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
  '/api/file/v2/getFileLocation':
    post:
      tags:
        - File Service (Internal)
      description: 'Returns file `Location` and `Driver`.'
      operationId: 'Returns file `Location` and `Driver`.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: '#/definitions/FileLocationRequest'
      responses:
        '200':
          description: |
            File location
          schema:
            $ref: '#/definitions/FileLocationResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value
            passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
  '/api/file/v2/delivery/getFileSignedUrl':
    post:
      tags:
        - Delivery API
      description: 'Returns delivery instructions for File(s) using SRNs'
      operationId: 'Returns delivery instructions for File(s) using SRNs'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: 'Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition.'
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: '#/definitions/FileDeliveryGetFileSignedURLRequest'
      responses:
        '200':
          description: File location
          schema:
            $ref: '#/definitions/FileDeliveryGetFileSignedURLResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
  '/api/file/v2/getFileList':
    post:
      tags:
        - File Service (Internal)
      description: 'Allows the application to audit the attempted file uploads. The method is internal and is not available for third-party applications.'
      operationId: 'Allows the application to audit the attempted file uploads. The method is internal and is not available for third-party applications.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: '#/definitions/FileListRequest'
      responses:
        '200':
          description: File list page
          schema:
            $ref: '#/definitions/FileListResponse'
        '400':
          description: Bad user input. Mandatory fields missing or unacceptable value passed to API
          schema:
            $ref: '#/definitions/FileApplicationError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/FileApplicationError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/FileApplicationError'
      security:
        - Bearer: []
        
  #########################
  # Workflow Service
  #########################
  
  '/api/workflow/v1/workflow':
    post:
      tags:
        - Workflow
      summary: Creates workflow definition with standard orchestrator operators.
      operationId: deployWorkflow
      description: API to create a new workflow using standard operators of orchestrator.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Request payload for deploying new workflow.
          schema:
            $ref: '#/definitions/Workflow'
      responses:
        '200':
          description: Workflow created\updated successfully.
          schema:
            $ref: '#/definitions/Workflow'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
    get:
      tags:
        - Workflow
      summary: List all the workflow applicable for a tenant.
      operationId: listAllWorkflow
      description: List all the workflows for the tenant.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: prefix
          in: query
          description: 'Filter workflow names which start with  the full prefix specified.'
          required: false
          type: string
      responses:
        '200':
          schema:
            items:
              $ref: '#/definitions/Workflow'
            type: array
          description: List of all the workflows.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
  '/api/workflow/v1/workflow/{workflow_name}':
    delete:
      tags:
        - Workflow
      summary: Delete a workflow defintion.
      operationId: deleteWorkflow
      description: Delete a workflow by it's name.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: workflow_name
          in: path
          description: Unique Name of the Workflow to be deleted.
          required: true
          type: string
      responses:
        '204':
          description: Workflow deleted successfully.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
    get:
      tags:
        - Workflow
      summary: Get complete details for a workflow.
      operationId: viewWorkflow
      description: Get complete details for an workflow.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: workflow_name
          in: path
          description: Name of the Workflow.
          required: true
          type: string
      responses:
        '200':
          description: Workflow Details.
          schema:
            $ref: '#/definitions/Workflow'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
  '/api/workflow/v1/workflow/{workflow_name}/workflowRun':
    post:
      tags:
        - Workflow Run
      summary: Trigger a workflow.
      operationId: triggerWorkflow
      description: Trigger a workflow mentioned in payload.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: workflow_name
          in: path
          description: Unique Name of the Workflow to run.
          required: true
          type: string
        - name: body
          in: body
          schema:
            $ref: '#/definitions/WorkflowTriggerRequest'
      responses:
        '200':
          description: Workflow successully triggered.
          schema:
            $ref: '#/definitions/WorkflowRun'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
    get:
      tags:
        - Workflow Run
      summary: Get all run instances of a workflow.
      operationId: getAllWorkflowRuns
      description: Get all run instances for a worflow.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: workflow_name
          in: path
          description: Unique Name of the Workflow for which the execution details has to be fetched.
          required: true
          type: string
        - name: prefix
          in: query
          description: 'A prefix used when generating the runId of the workflow run. Prefix cannot contain the word "backfill"'
          required: false
          type: string
        - name: startDate
          in: query
          description: 'The start date where this call should start creating workflow runs from (inclusive)'
          required: false
          type: string
        - name: endDate
          in: query
          description: 'The end date where this call should stop creating workflow runs at (inclusive)'
          required: false
          type: boolean
        - name: limit
          in: query
          description: 'The maximum number of workflow runs to create in a single request. Maximum is 500.'
          required: false
          type: integer
        - name: cursor
          in: query
          description: 'Cursor for subsequent request.'
          required: false
          type: string
        - name: partial
          in: query
          description: 'Whether or not a partial batch can be created. If true, and the number of workflow runs that would be created between the start and end exceeds the limit, no workflow runs will be created.'
          required: false
          type: boolean
        - name: conf
          in: query
          description: 'JSON configuration added to the Workflow run conf attribute'
          required: false
          type: string
      responses:
        '200':
          schema:
            items:
              $ref: '#/definitions/WorkflowRun'
            type: array
          description: History of workflow runs.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
  '/api/workflow/v1/workflow/{workflow_name}/workflowRun/{runId}':
    get:
      tags:
        - Workflow Run
      summary: Get details for a speciffic workflow run instance.
      operationId: getWorkflowRun
      description: Get an execution instances for a workflow.
      parameters:
        - name: workflow_name
          in: path
          description: Unique Name of Workflow.
          required: true
          type: string
        - name: runId
          in: path
          description: Run id for the worfkow.
          required: true
          type: string
      responses:
        '200':
          description: Workflow execution detail.
          schema:
            $ref: '#/definitions/WorkflowRun'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
    put:
      tags:
        - Workflow Run
      summary: Update the workflow run instance.
      operationId: updateWorkflowRun
      description: Update workflow run.
      parameters:
        - name: workflow_name
          in: path
          description: Unique Name of Workflow.
          required: true
          type: string
        - name: runId
          in: path
          description: Run id for the worfkow.
          required: true
          type: string
        - name: body
          in: body
          schema:
            $ref: '#/definitions/WorkflowRun'
      responses:
        '200':
          description: Workflow updated successfully.
          schema:
            $ref: '#/definitions/Workflow'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/WorkflowError'
        '401':
          description: Invalid/Expired Credential
          schema:
            $ref: '#/definitions/WorkflowError'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/WorkflowError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/WorkflowError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/WorkflowError'
      security:
        - Bearer: []
  
  #########################
  # Registration Service
  #########################
  
  '/api/register/v1/ddms/{id}':
    get:
      tags:
        - Domain Data Management Service (DDMS)
      summary: Get a DDMS registration
      description: "Get a DDMS registration with the given id. Required roles:
        'users.datalake.viewers' or 'users.datalake.editors' or
        'users.datalake.admins'"
      operationId: Get a DDMS registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          pattern: ^[A-Za-z0-9-]{2,50}
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/RegisterDdms"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
    delete:
      tags:
        - Domain Data Management Service (DDMS)
      summary: Delete a DDMS registration
      description: "Delete a DDMS registration with the given id. Required roles:
        'users.datalake.admins'"
      operationId: Delete a DDMS registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          pattern: ^[A-Za-z0-9-]{2,50}
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '404':
          description: Not found
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
  '/api/register/v1/ddms':
    post:
      tags:
        - Domain Data Management Service (DDMS)
      summary: Create a DDMS registration
      description: "Create a DDMS registration using an OpenApi spec V3 document. Required
        roles: 'users.datalake.editors' or 'users.datalake.admins'"
      operationId: Create a DDMS registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: "#/definitions/RegisterDdms"
      responses:
        '201':
          description: Created
          schema:
            $ref: "#/definitions/RegisterDdms"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '409':
          description: Conflict
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
    get:
      tags:
        - Domain Data Management Service (DDMS)
      summary: Query for DDMS registrations
      description: "Query for DDMS registrations allowing retrievals by type. Required
        roles: 'users.datalake.viewers' or 'users.datalake.editors' or
        'users.datalake.admins'"
      operationId: Query a DDMS registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: type
          in: query
          required: true
          type: string
          pattern: ^[A-Za-z0-9 ]{2,50}
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/RegisterDdms"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
  '/api/register/v1/action/{id}':
    get:
      tags:
        - Action
      summary: Get an action registration
      description: "Get an action registration with the given id. Required roles:
        'users.datalake.viewers' or 'users.datalake.editors' or
        'users.datalake.admins'"
      operationId: Get an action registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          pattern: ^[A-Za-z0-9-]{2,50}
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/RegisterAction"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
    delete:
      tags:
        - Action
      summary: Delete an action  registration
      description: "Delete an action registration with the given id. Required role:
        'users.datalake.admins'"
      operationId: Delete an action registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          pattern: ^[A-Za-z0-9-]{2,50}
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '404':
          description: Not found
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
  '/api/register/v1/action':
    post:
      tags:
        - Action
      summary: Create an action registration
      description: "Create an action registration. Required role: 'users.datalake.admins'"
      operationId: Create an action registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: "#/definitions/RegisterCreateAction"
      responses:
        '201':
          description: Created
          schema:
            $ref: "#/definitions/RegisterAction"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/RegisterAppError'
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
  '/api/register/v1/action:test':
    post:
      tags:
        - Action
      summary: Test an action registration
      description: "Test an action registration. Required roles: 'users.datalake.viewers'
        or 'users.datalake.editors' or 'users.datalake.admins'"
      operationId: Test an action registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
          description: Specifies the partition to use. This should be either the partition
            name associated with the partition.
          required: true
          type: string
          x-example: opendes
        - name: body
          in: body
          schema:
            $ref: "#/definitions/RegisterTestAction"
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/RegisterTestActionResult"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/RegisterAppError"
        '401':
          description: Unauthorized
          schema:
            $ref: "#/definitions/RegisterAppError"
        '409':
          description: Conflict
          schema:
            $ref: "#/definitions/RegisterAppError"
        '429':
          description: Too Many Requests
          schema:
            $ref: "#/definitions/RegisterAppError"
        '500':
          description: Server Error
          schema:
            $ref: "#/definitions/RegisterAppError"
        '502':
          description: Bad Gateway
          schema:
            $ref: "#/definitions/RegisterAppError"
        '503':
          description: Service Unavailable
          schema:
            $ref: "#/definitions/RegisterAppError"
      security:
        - Bearer: []
  '/api/register/v1/action:retrieve':
    post:
      tags:
        - Action
      summary: Query for action registrations and substitutes any action with the
        given parameters
      description: "Retrieve an action registration. Required roles:
        'users.datalake.viewers' or 'users.datalake.editors' or
        'users.datalake.admins'"
      operationId: Retrieve an action registration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: data-partition-id
          in: header
[...]
