/*
 * self-managed-osdu
 * Rest API Documentation for Self Managed OSDU
 *
 * OpenAPI spec version: 0.11.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package osdu.client.api;

import osdu.client.ApiCallback;
import osdu.client.ApiClient;
import osdu.client.ApiException;
import osdu.client.ApiResponse;
import osdu.client.Configuration;
import osdu.client.Pair;
import osdu.client.ProgressRequestBody;
import osdu.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import osdu.client.model.FileApplicationError;
import osdu.client.model.FileDeliveryGetFileSignedURLRequest;
import osdu.client.model.FileDeliveryGetFileSignedURLResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DeliveryApiApi {
    private ApiClient apiClient;

    public DeliveryApiApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DeliveryApiApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for returnsDeliveryInstructionsForFileSUsingSRNs
     * @param dataPartitionId Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition. (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call returnsDeliveryInstructionsForFileSUsingSRNsCall(String dataPartitionId, FileDeliveryGetFileSignedURLRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/api/file/v2/delivery/getFileSignedUrl";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (dataPartitionId != null)
        localVarHeaderParams.put("data-partition-id", apiClient.parameterToString(dataPartitionId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Bearer" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call returnsDeliveryInstructionsForFileSUsingSRNsValidateBeforeCall(String dataPartitionId, FileDeliveryGetFileSignedURLRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'dataPartitionId' is set
        if (dataPartitionId == null) {
            throw new ApiException("Missing the required parameter 'dataPartitionId' when calling returnsDeliveryInstructionsForFileSUsingSRNs(Async)");
        }
        

        com.squareup.okhttp.Call call = returnsDeliveryInstructionsForFileSUsingSRNsCall(dataPartitionId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Returns delivery instructions for File(s) using SRNs
     * @param dataPartitionId Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition. (required)
     * @param body  (optional)
     * @return FileDeliveryGetFileSignedURLResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public FileDeliveryGetFileSignedURLResponse returnsDeliveryInstructionsForFileSUsingSRNs(String dataPartitionId, FileDeliveryGetFileSignedURLRequest body) throws ApiException {
        ApiResponse<FileDeliveryGetFileSignedURLResponse> resp = returnsDeliveryInstructionsForFileSUsingSRNsWithHttpInfo(dataPartitionId, body);
        return resp.getData();
    }

    /**
     * 
     * Returns delivery instructions for File(s) using SRNs
     * @param dataPartitionId Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition. (required)
     * @param body  (optional)
     * @return ApiResponse&lt;FileDeliveryGetFileSignedURLResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<FileDeliveryGetFileSignedURLResponse> returnsDeliveryInstructionsForFileSUsingSRNsWithHttpInfo(String dataPartitionId, FileDeliveryGetFileSignedURLRequest body) throws ApiException {
        com.squareup.okhttp.Call call = returnsDeliveryInstructionsForFileSUsingSRNsValidateBeforeCall(dataPartitionId, body, null, null);
        Type localVarReturnType = new TypeToken<FileDeliveryGetFileSignedURLResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Returns delivery instructions for File(s) using SRNs
     * @param dataPartitionId Specifies the data partition to use. This should either be the partition name or crm account ID associated with the partition. (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call returnsDeliveryInstructionsForFileSUsingSRNsAsync(String dataPartitionId, FileDeliveryGetFileSignedURLRequest body, final ApiCallback<FileDeliveryGetFileSignedURLResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = returnsDeliveryInstructionsForFileSUsingSRNsValidateBeforeCall(dataPartitionId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<FileDeliveryGetFileSignedURLResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
