---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: file-service
  namespace: osdu-azure
spec:
  values:
    ingress:
      dns: osdu-self-dplcedah-7mah-gw.centralus.cloudapp.azure.com
    configuration:
    - service: file
      repository: msosdu.azurecr.io/file
      path: /api/file/*
      probe:
        path: /api/file/v2/readiness_check
        port: http
      keyvault: true
      auth:
        disable:
          - "/"
          - "*/index.html"
          - "*/v2/api-docs"
          - "*/swagger-resources"
          - "*/swagger-ui.html"
          - "*/configuration/ui"
          - "*/configuration/security"
          - "/api/file/swagger-resources/*"
          - "/api/file/webjars/*"
          - "*/actuator/health"
          - "*/health"
      env:
      - name: spring_application_name
        value: file
      - name: server.servlet.contextPath
        value: /api/file/
      - name: server_port
        value: 80
      - name: ACCEPT_HTTP
        value: true
      - name: cosmosdb_database
        value: osdu-db
      - name: LOG_PREFIX
        value: file
      - name: osdu_entitlements_url
        value: http://entitlements/api/entitlements/v2
      - name: osdu_entitlements_app_key
        value: OBSOLETE
      - name: APPLICATION_PORT
        value: 80
      - name: SEARCH_HOST
        value: http://search/api/search/v2
      - name: JAVA_HEAP_MEMORY
        value: 4096
      - name: osdu_storage_url
        value: http://storage/api/storage/v2
      - name: partition_service_endpoint
        value: http://partition/api/partition/v1
      - name: authorizeAPI
        value: http://entitlements/api/entitlements/v2
      - name: azure_istioauth_enabled
        value: "true"
      - name: BATCH_SIZE
        value: "100"
      - name: SEARCH_QUERY_LIMIT
        value: "1000"
      - name: KEYVAULT_URL
        config:
          name: osdu-svc-config
          key: ENV_KEYVAULT
      - name: AZURE_CLIENT_ID
        secret:
          name: active-directory
          key: principal-clientid
      - name: AZURE_CLIENT_SECRET
        secret:
          name: active-directory
          key: principal-clientpassword
      - name: AZURE_TENANT_ID
        secret:
          name: active-directory
          key: tenantid
      - name: AZURE_AD_APP_RESOURCE_ID
        secret:
          name: active-directory
          key: application-appid
      - name: appinsights_key
        secret:
          name: central-logging
          key: appinsights
